html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: #171717;
}

.container {
    width: 1920px;
    margin: 0 auto;
    padding: 37px 230px;
}

.header-bg {
    background: url("/img/header-bg.jpeg") center/cover no-repeat fixed;
}

.parallax-bg {
    background: url("/img/parallax-bg.jpeg") center/cover no-repeat fixed;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 216px;
    height: 33px;
    background: url("/img/Logo.png");

    /*border: 1px solid #E4B564;*/
}

.recall {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 218px;
    height: 50px;
    padding: 0 10px;

    border: 1px solid #E4B564;
}

.link-recall {
    text-decoration: none;
}

.recall span {
    font-family: Circe, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #E4B564;
}

.title {
    font-family: Gilam, serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;
}

.title-p {
    max-width: 1182px;
    font-family: Gilam, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 41px;

    color: #FFFFFF;
}

.main-content-box-top {
    display: grid;
    gap: 27px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "block1 block1 block2 block2 block3 block3"
        "block4 block4 block4 block5 block5 block5";
    font-family: Gilam, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.main-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: block1;
    height: 468px;
    background: #634F2C;
}

.main-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 44px;
    grid-area: block2;
    height: 468px;
    background: #B4A385;
}

.main-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: block3;
    height: 468px;
    background: #E4B564;
}

.main-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: block4;
    height: 468px;
    background: #635A4A;
}

.main-item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: block5;
    height: 468px;
    background: #B08C4D;
}

.second-title {
    margin-top: 161px;
    margin-bottom: 94px;
}

.main-content-box-bottom {
    display: grid;
    gap: 27px;
    height: 897px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "block6 block7 block8"
        "block6 block7 block8"
        "block9 block7 block11"
        "block9 block10 block11"
        "block9 block10 block12"
        "block9 block10 block12";
    font-family: Gilam, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.main-item6 {
    font-weight: 700;
    padding: 44px 180px 44px 52px;
    grid-area: block6;
    background: #0E0E0E;
}

.main-item6 span {
    font-weight: 400;
}

.main-item7 {
    padding: 44px 114px 340px 51px;
    font-weight: 700;
    grid-area: block7;
    background: #242424;
}

.main-item7 span {
    font-weight: 400;
}

.main-item8 {
    padding: 44px 48px;
    grid-area: block8;
    background: #1F1F1F;
}

.main-item9 {
    padding: 56px 52px;
    grid-area: block9;
    background: #1F1F1F;
}

.main-item10 {
    padding: 47px 52px;
    grid-area: block10;
    background: #E4B564;
    color: #000000;
}

.main-item11 {
    padding: 44px 48px;
    grid-area: block11;
    background: #0E0E0E;
}

.main-item12 {
    padding: 44px 48px;
    grid-area: block12;
    background: #0A0909;
    font-weight: 700;
}

.footer-box {
    height: 1054px;
    width: 1920px;
    margin-bottom: 239px;
    padding: 100px 230px 0;

    background: #0E0E0E;
}

.footer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;

}

.all-project {
    width: 180px;
    height: 50px;
    padding: 10px 40px;
    border: 1px solid #E4B564;
    font-family: Circe, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #E4B564;
}

.footer-box-content {
    margin-top: 61px;
    display: grid;
    height: 782px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "block13 block14 block15"
        "block16 block17 block18";
}

.main-item13 {
    grid-area: block13;
    background: #634F2C url("/img/image-1.png") no-repeat center;
}

.main-item14 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 61px 80px;
    grid-area: block14;
    background: rgba(232, 210, 171, 0.76);
}

.item-content {
    font-family: Gilam, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;

    text-align: center;

    color: #FFFFFF;
}

.item-content span {
    font-weight: 600;
}

.main-item15 {
    grid-area: block15;
    background: #E4B564 url("/img/image-6.png") no-repeat center;
}

.main-item16 {
    grid-area: block16;
    background: #635A4A url("/img/image-7.png") no-repeat center;
}

.main-item17 {
    grid-area: block17;
    background: #B08C4D url("/img/Set.png") no-repeat center;
}

.main-item18 {
    grid-area: block18;
    background: #634F2C url("/img/image-5.png") no-repeat center;
}